
@font-face {
    font-family: 'wisdom';
    src: url('../lttlman-simple/inc/fonts/WisdomScript.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa';
    src: url('../lttlman-simple/inc/fonts/NexaBold.otf');
    font-weight: normal;
    font-style: normal;
}


body, p {
  font-family: "Helvetica Neue", sans-serif;
  color: $base-font-color;

}
h1, h2, h3, { text-align:center; font-weight:100;}
h1, h3, .nav a {
  font-family: $brand-face-2;
}
h3, .nav li a {
  text-transform: uppercase;
  letter-spacing: .2em;
}
.nav a {
  font-weight: bold;
  font-size: 14px;
  color: $brand-color;
}
h2 { @extend .brand; }
.row h2 {font-size: 2.5rem;}
.callout h3 {
   color: $brand-color-2;
}
/*
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/League_Gothic-webfont.woff') format('woff'),
         url('fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/