//@import "compass/reset";
@import "compass/css3";
@import "compass/layout/sticky-footer";
@import "compass/typography/vertical_rhythm";
//@import "lib/grid";
@import "lib/colors";
@import "lib/base";

//@import "compass/typography/text/replacement"; 
//@import "grids";

@mixin serif($font-family, $adjust-size, $font-style: normal, $font-weight:100) {
	font-family: $font-family, serif;
	font-style: $font-style;
	font-weight: $font-weight;
	@include adjust-font-size-to($adjust-size);
}

%displayfont1 {
	font-family: abril-fatface, serif;
}

$base-font-size: 10px;
$base-line-height: 14px;
@include establish-baseline;

#page, .site-footer {
  width: 90%;
  margin: 0 auto;
}

.site-header, .site-main, .site-footer {
	overflow:hidden;
}

.main-navigation .menu {
	border: 1px solid #CCC;
	border-width: 1px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

	li {
		display:inline;
		float:none;
		a {
			display:inline-block;
			padding:1rem 1.6rem;
		}
	}
}
hgroup {
	padding:10rem 0 7rem;
}

h1 {
	margin-bottom:3rem;
	a { 
		background: url('../images/laidlaw.github.svg') no-repeat center;
		width:100px;
		height:100px;
		text-align: center;
		display: block;
		background-size: cover;
		float: none;
		margin: 0 auto;
		text-indent:-9999px;
	}

}
article {	
	h1 {
		margin-top: 1.4em;
		margin-top:3em;
		//@include serif(georgia, 10px, normal, bold);
		font-color:#eee;
	}
}

h1, h2 {
	text-align:center;
}
#post-2 p {
	@include serif(georgia, 12px, italic, 100);
	@media only screen and (min-width: 35em) {
	  @include serif(georgia, 16px, italic, 100);
	}
	
}

.site-info {
	text-align: center;
	font-size: .8em;
}
@include sticky-footer(54px, "#page", "#sub-site-footer", ".site-footer");

@media only screen and (min-width: 35em) {
  @import "layout/medium";
}

@media only screen and (min-width: 55em) {
  @import "layout/large";
}

